body {
    margin: 0px;
    padding: 0px;
}
.bloco {
    margin: 50px auto;
    border: 1px solid red;
    width: 99%;
    height: 700px;
}

.imagem {
    border: blue 3px solid;
    width: 70%;
    height: 100%;
    float: left;
}

.texto {
    border: yellow 3px solid;
    width: 30%;
    height: 100%;
    float: right;
}

button {
    float: right;
}